@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    height: 100vh;
    background-color: #e8dcea;
}

.titulo {
    font-family: 'Kanit', sans-serif;
    font-size: 60px;
    border-bottom: 2px #904a9e solid;
    text-align: center;
}

.sub {
    width: auto;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.sub h2 {
    font-family: 'Kanit', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 200;
    text-shadow: 0 0 5px #333333, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #650f97, 0 0 30px #650f97, 0 0 40px #650f97, 0 0 55px #650f97, 0 0 75px #650f97, 2px 2px 2px rgba(161,41,167,0), 10px 12px 4px rgba(161,41,167,0);
}

.form {
    justify-content: center;
    align-items: center;
}

input {
    width: 260px;
    height: 45px;
    padding: 0 10px;
    border-radius: 7px;
    font-family: 'Kanit', sans-serif;
    border: #620974 1px solid;
}

.add {
    width: 45px;
    height: 45px;
    border-radius: 7px;
    background-color: #644575;
    color: #FFF;
    font-family: 'Kanit', sans-serif;
    font-size: 17px;
    font-weight: 100;
    justify-content: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    
}

.add:hover {
    cursor: pointer;
    transform: scale(1.1)
  }

li {
    margin-top: 5px;
    margin-left: -40px;
    list-style-type: none;
    width: 305px;
    height: auto;
    padding: 10px 10px;
    font-family: 'Kanit', sans-serif;
    border-bottom: #620974 3px solid;
}

li button {
    width: auto;
    height: 30px;
    border-radius: 7px;
    background-color: #64457500;
    color: #000000;
    border: #620974 1px solid;
    font-family: 'Kanit', sans-serif;
    font-size: 17px;
    font-weight: 100;
    cursor: pointer;
}

span {
    margin-right: 5px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
}